html{
  overflow-y: scroll;
}

h1{
  font-size: 17px;
  color: white;
  font-weight: normal;
}

h2{
  font-size: 22px;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  line-height: 60%;
}

h3{
  font-size: 30px;
  color: #2c68ad;
  text-align: center;
  font-weight: normal;
}

h4{
  font-size: 15px;
  color: white;
  font-weight: normal;
}

h5{
  font-size: 20px;
  font-weight: normal;
}

h6{
  font-size: 30px;
  font-weight: normal;
  padding-bottom: 20px;
  padding-left: 50px;
}

h7{
  font-size: 20px;
  font-weight: bold;
}


p{
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 15px;
}

.col-sm-2{
  text-align: center;
}

.col-sm-1{
  text-align: center;
}

.col-sm-3{
  text-align: center;
}

.col-sm-4{
  text-align: right;
}

.col-md-2{
  text-align: left;
}

.col-md-12{
  padding-top: 50px;
}

.col-lg-5{
  padding-right: 50px;
  text-align: right;
}

.col-sm-7{
  padding-left: 50px;
}

.col-lg-2{
  float: right;
}

.container{
  background-color: #2c68ad;
  padding-bottom: 10px;
  padding-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}



.slideshow{
  margin-left: 10%;
  margin-right: 10%;
}

.header{
  background-color: white;
}

.body{
  background-color: white;
  padding-top: 35px;
  margin-left: 10%;
  margin-right: 10%;
  align-content: center;
  padding-bottom: 20px;
  overflow-y: auto;
}

.about{
  background-color: white;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 75px;
  padding-bottom: 75px;
}

.footer{
  background-color: #2c68ad;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  position: absolute;
  padding-bottom: 10px;
}


.line{
  margin-left: 15px;
  margin-right: 0px;
}

.form-inline{
  text-align: center;
}

.form{
  background-color: white;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 90px;
  padding-bottom: 60px;
}

.form-control{
  border-color: #2c68ad;
}

.btn-default{
  background-color: #2c68ad;
  border-color: #2c68ad;
}

.btn{
color: white;
}

.btn-lg{
  background-color: white;
  border color: white;
}

.btn-lg:hover{
  background-color: #2c68ad;
  border-color: #2c68ad;
}

.btn-lg:focus{
  background-color: #2c68ad;
  border-color: #2c68ad;
}

.btn-info{
  border-color: black;
  margin-top: 10px;
  margin-bottom: 20px;
}

.btns{
  color: black;
}

#box{
  border: 2px solid;
  border-color: #2c68ad;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 30px;
  padding-top: 10px;
}

.space{
  padding-bottom: 20px;
}


.pictures{
  background-color: white;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 75px;
  padding-bottom: 75px;
}

.modal-body{
  text-align: left;
}

.row1{
  margin-bottom: 20px;
}

.navbar{
  background-color: #2c68ad;
}

.p-4{
  margin-left: 5%;
}

#navbarToggleExternalContent{
  background-color: #2c68ad;
}


@media only screen and (max-width: 770px){
  .pos-f-t{
    visibility: visible;
  }
}

@media only screen and (min-width: 769px){
  .pos-f-t{
    display: none;
  }
}

@media only screen and (min-width: 770px){
  .container{
    visibility: visible;
  }
}

@media only screen and (max-width: 769px){
  .container{
    display: none;
  }
}

@media only screen and (min-width: 770px){
  .modal-content{
    margin-left: -20%;
    margin-right: -20%;
  }
}

@media only screen and (max-width: 769px){
  .modal-content{
    margin-left: 0%;
    margin-right: 0%;
  }
}



@media only screen and (max-width: 1200px){
  .col-lg-5{
    visibility: hidden;
  }
}

@media only screen and (max-width 500px){
  .col-md-5{
    visibility: hidden;
  }
}

@media only screen and (min-width: 1140px) {
  body{
    background-color:#abc3df;
  }
}
